## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
x=s.split()

In [3]:
print(x)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742
str=("The diameter of {planet} is {diameter} kilometers.")

In [5]:
print((str.format(planet="Earth",diameter=12742)))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
print(d["k1"][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

List is mutable, whereas the tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def domain(email):
  return email.split('@')[-1]
domain("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [14]:
def check(word):
  for i in word.lower().split():
    if i=="dog":
      return True
  return False

In [15]:
check("I love my dog")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [33]:
def wordCount(word):
  count=0
  for i in word.lower().split():
    if i=='dog':
      count+=1
  print("Dog repeated "+str(count)+" times")

In [34]:
wordCount('dog dog dog cat lion Dog ')

Dog repeated 4 times

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [35]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [37]:
caught_speeding(85,False)

'Big Ticket'

In [36]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [39]:
e=[["emp1",[1325,4975,8660,6037,8308]],["emp2",[5678,5847,3375,3415,6640]],["emp3",[1806,5144,8340,1253,6667]],["emp4",[8381,7678,8599,3629,9345]],["emp5", [7066, 1307, 3023, 6295, 2046]]]

In [41]:
total=0
for i in range(len(e)):
  for j in e[i][1]:
    total+=j
  print(str(e[i][0])+" earns "+str(total))

emp1 earns 29305
emp2 earns 54260
emp3 earns 77470
emp4 earns 115102
emp5 earns 134839

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [42]:
dic1={"Empid":115, "Empname":"Sonam", "Basicpay": 750000}
dic2={"DeptName":"IT","Deptid":106}
dic3={**dic1,**dic2}
print(dic3)

{'Empid': 115, 'Empname': 'Sonam', 'Basicpay': 750000, 'DeptName': 'IT', 'Deptid': 106}